<div class="popup_frame" >
<div class="data_frame2"><ul>
<li class="set1">
<div class="title">Add Share</div> 
<div class="w_text">
  <ul>
    <li class="left_table">Wireless Radio  :</li>
    <li class="right_table">
      <input name="ssid_state" id="radio" type="radio" value="enable" checked="checked" />
      <%ejGetML(MLG_Common_Enabled)%>
      <input name="ssid_state" id="radio2" type="radio" value="disable" />
      <%ejGetML(MLG_Common_DHCPDisable)%> </li>
  </ul>
<ul>
<li class="left_table"> Share Path :</li>
<li class="right_table"><span class="cfig_word">
  <input type="text" name="CIFS_Adduser_username" size="30" maxlength="50" />
  <input type="button" name="CIFS_Browse" value="Browse" onclick="return popup('CIFS_Browser.html', 'CIFS Browser')" />
</span></li>
</ul>
<ul>
<li class="left_table"><%ejGetML(MLG_Common_Description)%> :</li>
<li class="right_table"><span class="cfig_word">
  <input type="text" name="CIFS_Adduser_username2" size="30" maxlength="50" />
</span></li>
</ul>
  <ul>
    <li class="left_table">Access Level :</li>
    <li class="right_table"><span class="cfig_word">
      <select name="accesSel" style="width:179" onchange="doAccessChange(this.value);">
        <option value="public">Public</option>
        <option value="security"><%ejGetML(MLG_Common_Security)%></option>
      </select>
    </span></li>
  </ul>
</div>
</li>
<li class="space"> </li>
</ul></div>
</div>