<script type="text/javascript">
 $(function(){
     $('#addnewshareBtn').click(function(){
        var db1 = window.parent.$.zyUiDialog({
            width: 500,
            height: 400,
            title: 'Add Level 2'
        });
		var link = 'pages/template/tabPages/tab6_DB2.html';
        if(jQuery.browser.safari && parseInt(jQuery.browser.version)<=525 )
        link='../../'+link;
        db1.load(link);
        db1.dialog('open');
    }); });
</script>
<div class="popup_frame" id='frame1' >
<div class="data_frame"><ul>
<li class="set1">
<div class="w_table"><input type="button" name="sysAddUserBtn" value="Add level 2" id='addnewshareBtn'/></div> 
</li>
<li class="set1"><div class="title"><%ejGetML(MLG_WLAN_AdditionalWLANs_Str4)%></div></li>
<li class="set2"> 
<div class="title2"><span class="i_title2">Title2</span></div>
<div class="w_text">
  <ul>
    <li class="left_table">Wireless Power Level :</li>
    <li class="right_table">
      <select name="power_level" id="power_level">
        <option selected="selected"><%ejGetML(MLG_Common_Full)%></option>
        <option>75%</option>
        <option>50%</option>
        <option>25%</option>
        <option>6%</option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="left_table"><%ejGetML(MLG_WLAN_BasicWirelessSetup_Str18)%> :</li>
    <li class="right_table">
      <select name="80211bg_mode" id="80211bg_mode">
        <option selected="selected">Mixed - 802.11b, 802.11g, 802.11n </option>
        <option>802.11n </option>
        <option>802.11g </option>
        <option>802.11b </option>
      </select>
    </li>
  </ul>
</div>
</li>
<!--Please add this tag--><li class="space"> </li>
<li class="space"> </li>
<!--Note define start-->
<li class="noteframe"> <div class="w_text"><span class="i_note"><%ejGetML(MLG_Common_Note)%>:</span></div><div class="note_text">&nbsp;&nbsp;Router: In this mode, the device is supported to connect to internet via ADSL/Cable Modem. PCs in LAN ports share the same IP to ISP through WAN Port. Access Point: In this mode, all Ethernet ports are bridged together. The device allows the wireless-equipped computer can communicate with a wired network. </div></li>
<li class="space"> </li>
</ul></div>
<!--Set area end-->
</div>