<script type="text/javascript" src="../../js/jquery.text-overflow.js"></script>
<script type="text/javascript">
$(function(){
$('.textOverflow').each(function(){ $(this).attr('title', $(this).text());} );    
$('.textOverflow').ellipsis(true); 
});
$(function(){
    $('#editBtn').click(function(){
    
        var db1 = window.parent.$.zyUiDialog({
            width: 770,
            height: 430,
            title: 'Edit sample'
        });
		var link = 'pages/template/tabPages/edit.html';
        if(jQuery.browser.safari && parseInt(jQuery.browser.version)<=525 )
        link='../../'+link;
        db1.load(link);
        db1.dialog('open');
    });
    
    $('#deleteBtn').click(function(){
    
        var db1 = window.parent.$.zyUiDialog({
            width: 450,
            height: 190,
            title: 'Delete sample',
            buttons: {
                '<%ejGetML(MLG_Common_OK)%>': function(){ db1.dialog('close')}
            }
			
        });
		var link = 'pages/delete.html';
        if(jQuery.browser.safari && parseInt(jQuery.browser.version)<=525 )
        link='../../'+link;
        db1.load(link);
        db1.dialog('open');
    });
	 $('#addnewshareBtn').click(function(){
    
       var db1 = window.parent.$.zyUiDialog({
            width: 770,
            height: 305,
            title: 'Add new share sample'
        });
		var link = 'pages/template/tabPages/add.html';
        if(jQuery.browser.safari && parseInt(jQuery.browser.version)<=525 )
        link='../../'+link;
        db1.load(link);
        db1.dialog('open');
    });
});
 </script>
<div class="content_frame" >
<!--Unit Explain start-->
<div class="explain">
<div><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r4"></b></div>
<div class="explain_text">You can save the current device settings in a backup file in your computer, or recover the system by restoring the backup file. You can also reset the device back to factory default.</div>
<div><b class="r4"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></div></div>
<!--Unit Explain End-->
<div class="data_frame"><ul>
<li class="set1"> 
<div class="title"><%ejGetML(MLG_Maintenance_Configuration_Str2)%> </div>
<div class="w_text"><%ejGetML(MLG_Maintenance_Configuration_Str3)%></div>
<div class="w_text"><span class="one_right" style="margin-left:0px;"><input name="Backup" value="Backup" id='BackupBtn' type="button" /></span></div></li>
<li class="space"> </li>
<li class="set1"> 
<div class="title"><%ejGetML(MLG_Maintenance_Configuration_Str12)%></div>
<div class="w_text">Torestore a previously saved configuration file to your system, browse to the location of the configuration file and click Upload. </div>
<div class="w_text"><%ejGetML(MLG_Common_FilePath)%> :<span class="one_right"><input name="mtenRestoreCfg" size="20" maxlength="128" type="file" /><input name="RestoreCfg_Upload" value="Upload" type="submit" /></span></div></li>
<li class="space"> </li>
<li class="set1"> 
<div class="title"><%ejGetML(MLG_Maintenance_Configuration_Str14)%></div>
<div class="w_text" ><%ejGetML(MLG_Maintenance_Configuration_Str15)%> 
<div style="padding:5px 0 5px 0;">- Password will be 1234 <br /> 
- <%ejGetML(MLG_Maintenance_Configuration_Str17)%> <br /> 
- <%ejGetML(MLG_Maintenance_Configuration_Str18)%></div></div>
<div class="w_text"><span class="one_right" style="margin-left:0px;"><input name="RestoreCfg_Upload" value="Reset" type="submit" /></span></div>
</li>
<li class="space"> </li>
</ul></div>
<!--Set area end-->
</div>
<br/><br/>