<div class="content_frame" >
<!--Unit Explain start-->
<div class="explain">
<div><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r4"></b></div>
<div class="explain_text">Wireless Network Name (also known as SSID) is used to identify the wireless network. The Security Mode and Password are 
for guarding the safety of the transferring data within the wireless network.</div>
<div><b class="r4"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></div></div>
<!--Unit Explain End-->
<!--Set area start-->
<div class="data_frame"><ul>
<!--level 1 start-->
<li class="set1"> 
<div class="infodisplay"><textarea name="infodisplay" class="input_big"cols="80" readonly="readonly">This is Read-Only</textarea></div>
</li>
<li class="space"> </li>
<!--Button define start-->
<li class="buttonframe"><div class="button_position"><input name="DiagATMStatus" value=" ATM Status" onclick="doSubmit();" type="submit" />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input name="DiagATMLoopback" value="ATM Loopback Test" onclick="doSubmit();" type="submit" />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input name="DiagDSLStatus" value="DSL Line Status" onclick="doSubmit();" type="submit" />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input name="DiagResetADSL" value="Reset ADSL Line" onclick="doADSLReset();" type="submit" /></div></li>
<!--Button define end-->
</ul></div>
<!--Set area end-->
</div>
<br/><br/>