<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../../css/brick.css" rel="stylesheet" type="text/css" />
<script src="../../js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="../../js/common.js" type="text/javascript"></script>
<script type="text/javascript">setPageIndex("Template-singlePage");</script>
<title>Untitled Document</title>
</head>
<body>
<div class="unit_title" >Template</div>
<ul class="tabline"></ul>
<div class="content_frame" >
<!--Unit Explain start-->
<div class="explain">
<div><b class="r1"></b><b class="r2"></b><b class="r3"></b><b class="r4"></b><b class="r4"></b></div>
<div class="explain_text">Wireless Network Name (also known as SSID) is used to identify the wireless network. The Security Mode and Password are 
for guarding the safety of the transferring data within the wireless network.</div>
<div><b class="r4"></b><b class="r4"></b><b class="r3"></b><b class="r2"></b><b class="r1"></b></div></div>
<!--Unit Explain End-->
<!--Set area start-->
<div class="data_frame"><ul>
<!--level 1 start-->
<li class="set1">
<div class="title">Level One</div>
<!--Sample 1 start-->
<div class="w_text">
  <ul>
    <li class="left_table">Wireless Radio  :</li>
    <li class="right_table">
      <input name="ssid_state" id="radio" type="radio" value="enable" checked="checked" />
      <%ejGetML(MLG_Common_Enable)%>
      <input name="ssid_state" id="radio2" type="radio" value="disable" />
      <%ejGetML(MLG_Common_Disable)%> </li>
  </ul>
  <ul>
    <li class="left_table">&nbsp;</li>
    <li class="right_table">
      <input name="ssid_state" id="radio" type="radio" value="enable" checked="checked" />
      <%ejGetML(MLG_Common_Ensable)%>
      <input name="ssid_state" id="radio2" type="radio" value="disable" />
      <%ejGetML(MLG_Common_Disable)%> </li>
  </ul>
</div>
</li>
<li class="set1">
<div class="w_table" >
  <!--Table define start-->
    <table width="100%" cellpadding="0"align="center" cellspacing="0" class="table_frame" id="testTable">
                <tr align="center">
                  <td width="5%"class="top_font">#</td>
                  <td class="top_font"><%ejGetML(MLG_Common_Status)%></td>
                  <td class="top_font"><%ejGetML(MLG_WLAN_BasicWirelessSetup_Str24)%></td>
                  <td class="top_font" style="border-right:0px;"><%ejGetML(MLG_Common_Name)%></td>
                </tr>
                <tr align="center">
                  <td class="table_font">1</td>
                  <td class="table_font"><img src="../../images/i_active_off.gif" width="18" height="18" /></td>
                  <td class="table_font">--</td>
                  <td class="table_font"><span class="right_table">
                    --
                  </span></td>
                  </tr>
              </table>
</div></li>
<li class="space"> </li>
<!--level 1 sample-1  end-->
<li class="set1"><div class="title">Level Two</div></li>
<!--level 2 start-->
<li class="set2">
<div class="title2"><span class="i_title2">Title2</span></div> 
<div class="w_table">
  <!--Table define start-->
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="table_frame"  id="testTable2">
                <tr align="center">
                  <td width="5%" valign="top" class="top_font">#</td>
                  <td class="top_font"><%ejGetML(MLG_Common_Status)%></td>
                  <td class="top_font"><%ejGetML(MLG_WLAN_BasicWirelessSetup_Str24)%></td>
                  <td class="top_font" style="border-right:0px;"><%ejGetML(MLG_Common_Name)%> </td>
                </tr>
                <tr align="center">
                  <td class="table_font">1</td>
                  <td class="table_font"><img src="../../images/i_active_off.gif" width="18" height="18" /></td>
                  <td class="table_font">--</td>
                  <td class="table_font"><span class="right_table">
                    --
                  </span></td>
                  </tr>
              </table>
</div>
<div class="title2"><span class="i_title2">Title2</span></div>
<div class="w_text">
  <ul>
    <li class="left_table">Wireless Power Level :</li>
    <li class="right_table">
      <select name="power_level" id="power_level">
        <option selected="selected"><%ejGetML(MLG_Common_Full)%></option>
        <option>75%</option>
        <option>50%</option>
        <option>25%</option>
        <option>6%</option>
      </select>
    </li>
  </ul>
  <ul>
    <li class="left_table"><%ejGetML(MLG_WLAN_BasicWirelessSetup_Str18)%> :</li>
    <li class="right_table">
      <select name="80211bg_mode" id="80211bg_mode">
        <option selected="selected">Mixed - 802.11b, 802.11g, 802.11n </option>
        <option>802.11n </option>
        <option>802.11g </option>
        <option>802.11b </option>
      </select>
    </li>
  </ul>
</div>
</li>
<!--Please add this tag-->
<li class="space"> </li>
<!--Note define start-->
<li class="noteframe"> <div class="w_text"><span class="i_note"><%ejGetML(MLG_Common_Note)%>:</span></div><div class="note_text">&nbsp;&nbsp;Router: In this mode, the device is supported to connect to internet via ADSL/Cable Modem. PCs in LAN ports share the same IP to ISP through WAN Port. Access Point: In this mode, all Ethernet ports are bridged together. The device allows the wireless-equipped computer can communicate with a wired network. </div></li>
<!--Note define end-->
<li class="space"> </li>
<!--Button define start-->
<li class="buttonframe"><div class="button_position"><input name="sysSubmit" value="Apply" type="submit" />&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<input name="Cancel" value="Cancel" type="reset" /></div></li>
<!--Button define end-->
</ul>
</div>
<!--Set area end-->
</div>
</body>
</html>